Ques1:  Create one variable containing following type of data:

In [1]:
#(i)- string- In string we store character type data. 
r="Aryan"

In [2]:
type(r)

str

In [3]:
#(ii)- list- In list we store multiple items in a single variable. In list we able to modify data elements.
l=[1,2,45,"Aryan",4+8j,True,2.56]

In [4]:
type(l)

list

In [6]:
#(iii)- float- In float we store decimal type values.
a=467.97

In [7]:
type(a)

float

In [32]:
#(iv)- tuple-In tuple we store multiple items in a single variable.In tuple we cannot modify data elements.
tuple=(3,6,9,"Aryan",True,8+4j,45.76)

In [34]:
type(tuple)

tuple

Ques2. Given are some following variables containing data:
(i) var1 = ' '
(ii) var2 = '[DS ,ML , Python ]'
(iii) var3=['DS','ML','python']
(iv) var4= 1.
What will be the data type of the above given variable.

In [40]:
"""Ans=

(i)- var1 is a empty string.
(ii)-var2 is an string .
(iii)- var3 is a list of structured string.
(iv) - var4 is a float type data element if 1. otherwise var4 is int type data element. """

Ques3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [60]:
 #(i)   / for division 
100/8

12.5

In [58]:
#(ii)  % for find remainder
100%8

4

In [61]:
#(iii)  // used for show how many times divide integer value.
100//8

12

In [62]:
#(iv)  ** used to calculate power (exponent operator).
2**5

32

 Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [77]:
l1=[2,4,6,True,"RAM" ,(3+8j), 23.56 , 12 , False,'PW']
for i in l1 :
    print(type(i))
    print(i)

<class 'int'>
2
<class 'int'>
4
<class 'int'>
6
<class 'bool'>
True
<class 'str'>
RAM
<class 'complex'>
(3+8j)
<class 'float'>
23.56
<class 'int'>
12
<class 'bool'>
False
<class 'str'>
PW

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [26]:
a=int(input("Enter first no. "))
b=int(input(" Enter second no."))
count = 0

if b != 0:
    while a >= b:
        a -= b
        count += 1

    if a == 0:
        print(f"divisible by {count} times.")
    else:
        print("not divisible")
else:
    print("Division by zero is not allowed.")

Enter first no.  15
 Enter second no. 5

divisible by 3 times.

Ques6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [14]:
l=[2,3,4,5,6,7,8,9,10,11,12,14,15,16,17,18,20,21,22,23,23,24,25,27,33,42]
r=3
for j in l:
    if j%r==0:
        print(j)
        print("yes divisible by 3")
    else:
        print(j)
        print("not divisible by 3")

2
not divisible by 3
3
yes divisible by 3
4
not divisible by 3
5
not divisible by 3
6
yes divisible by 3
7
not divisible by 3
8
not divisible by 3
9
yes divisible by 3
10
not divisible by 3
11
not divisible by 3
12
yes divisible by 3
14
not divisible by 3
15
yes divisible by 3
16
not divisible by 3
17
not divisible by 3
18
yes divisible by 3
20
not divisible by 3
21
yes divisible by 3
22
not divisible by 3
23
not divisible by 3
23
not divisible by 3
24
yes divisible by 3
25
not divisible by 3
27
yes divisible by 3
33
yes divisible by 3
42
yes divisible by 3

Ques7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [16]:
# Mutable Data Type - In this we can change or modify data elements values or items in a given variables. 
# for example - List
l1=[2,5,True,"rAM",34.56]

In [17]:
l1[2]=False

In [19]:
l1[3]="Ram"

In [20]:
l1

[2, 5, False, 'Ram', 34.56]

In [21]:
# Immutable Data Type -In this we cannot change or modify data elements values or items in a given variable.
# for example - strings , tuple
s="PWSKILLS"

In [22]:
s[2]=s

TypeError: 'str' object does not support item assignment

In [27]:
tuple=(2,5,True,"rAM",34.56)

In [28]:
tuple[2]=7

TypeError: 'tuple' object does not support item assignment

In [30]:
tuple

(2, 5, True, 'rAM', 34.56)

In [ ]:
# here we see in tuple or string we cannnot modify data elements values or items.